Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2b1
docutils==0.10
execnet==1.1
pep8==1.4.5
py==1.4.15
pyflakes==0.7.2
pytest==2.3.5
pytest-cache==1.0
pytest-pep8==1.0.4
unittest2==0.5.1
wsgiref==0.1.2
